ul.lvPagination {
	list-style-type: none;
	margin: 1rem 0;
	padding: 0;
}

ul.lvPagination li {
	disply: inline-block;
	float: left;
	padding: 5px;
	text-align: center;
}

ul.lvPagination li a {
	padding: 3px 8px 3px 8px;
	border: 1px dotted #e3e5e8;
}
