{% extends '_layouts/elementindex' %}
{% set title = 'Custom Fields'|t %}
{% set elementType = 'Masuga\\LinkVault\\elements\\LinkVaultCustomField' %}

{% set tabs = {
    reports: { label: "Download History Reporting"|t, url: url('linkvault/reports') },
    customFields: { label: "Custom Fields"|t, url: url('linkvault/customfields') }
} %}

{% set crumbs = {
    customFields: { label: "Custom Fields"|t, url: url('linkvault/customfields') }
} %}

{% set selectedTab = 'customFields' %}

{% block sidebar %}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('linkvault/customfields/new') }}">{{ "New Custom Field"|t }}</a>
        <div class="menu">
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
