<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ siteName }} - 404</title>
</head>
<body>
    <h1>404 - {{ 'Not Found'|t }}</h1>
    <p>{{ 'The file you are attempting to download could not be found'|t }}.</p>
</body>
</html>
